<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />
  <script src="prototype.js" type="text/javascript"></script>
  <script src="application.js" type="text/javascript"></script>
</head>
  
<body>
  <div id="outer_wrapper">
    <div id="inner_wrapper">
      <div id="content">    
        
        <div class='info' id='welcome_message'>
          <div class='hide_button'><a href='#' onclick='alert("welcome_info@hide"); hideElement("welcome_message");'>hide</a></div>
          <h3>Welcome to RSpactor</h3>
          <h4>New to RSpactor? Follow these first steps to quickly get into the flow:</h4>
          <ol>
            <li>Create a symlink to get the nifty <strong>command line tool</strong> (see INSTALL.txt included with the Disk Image)</li>
            <li>Check your Preferences (<strong>⌘,</strong>): Keep up-to-date with the <strong>auto-update</strong> feature</li>
            <li><strong>Kick off</strong>: Enter the root path to your ruby project into the box above (<strong>⌘+l</strong>) and hit 'enter'</li>
          </ol>
        </div>
        
        <div id='statistics'>
          
          <p class='global_example_stats'>
            <h3> Example Statistics</h3>
            <dl>
              <dt class='odd'>Total Count</dt>
              <dd class='odd' id='dashboard_total_example_count'></dd>
              <dt>Passed</dt>
              <dd id='dashboard_passed_example_count'></dd>
              <dt class='odd'>Pending</dt>
              <dd class='odd' id='dashboard_pending_example_count'></dd>
              <dt>Failed</dt>
              <dd id='dashboard_failed_example_count'></dd>
            </dl>
            <div style="clear: both"></div>
          </p>

          <p id='failed_examples'></p>
          <p id='pending_examples'></p>
          <div id='slowest_examples'></div>
          
        </div>
        
      </div> 
    </div>
  </div>
</body>
</html>