html, body {
  margin: 0;
  padding: 0;
}
 
body {
  margin: 5px 10px 2px 10px;
  font: normal 12px Helvetica, Arial, sans-serif;
  color: #333;
}

.head {
	border-bottom: 1px solid #eee;
	margin: 0 0 20px 0;
	padding-bottom: 2px;
}

h1 {
	font-size: 22px;
	font-weight: normal;
	color: #888;
	margin: 5px 0px 5px 0px;
}

h2 {
	font-size: 10px;
	font-style: italic;	
	color: #aaa;
	margin: 0px;
}


/* #### CODE #### */

.code { 
  border: 1px solid #AAA;
  cursor: pointer;
  font-family: "Andale Mono";
	min-width: 250px;
}

pre {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul.spec {
	list-style-type: none;
	padding: 0px;
}

ul.spec li.spec {
	margin: 0px;
	margin-bottom: 30px;
	cursor: pointer;
}

ul.spec .fold_button {
	color: #f6f6f6;
	font-size: 18px;
	font-weight: bold;
	padding-right: 5px;
}

ul.spec p.spec_title_passed, ul.spec p.spec_title_failed, ul.spec p.spec_title_pending {
	font-size: 13px;
	color: white;
	padding: 1px 3px 3px 3px;
	margin: 0px;
}


ul.spec p.spec_title_passed {
	background-color: #5BB803;
	border: 1px solid #499603;
}

ul.spec p.spec_title_failed {
	background-color: #C90805;
	border: 1px solid #C30A05;
}

ul.spec p.spec_title_pending {
	background-color: #CD9F09;
	border: 1px solid #B38A08;
}

ul.spec p.spec_message {
	color: #666;
	font-size: 16px;
	font-style: italic;
	margin: 0px;
	padding: 6px 0 6px;
}

ul.spec p.spec_code {
	margin: 0px;
}

ul.spec ul.spec_trace {
  list-style-type: none;
	margin: 0px 0 0 1px;
	padding: 0px;
}

ul.spec ul.spec_trace li {
	color: #666;
	font-size: 12px;
	padding: 1px;
}

ul.code_view {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.code_view li {
  padding: 2px 0 2px;
}

ul.code_view .even     { background-color: #FFF;}
ul.code_view .odd      { background-color: #EEF2FD;}
ul.code_view .current  { background-color: #EDFFBA;}

.code .linenumber { margin-left: 5px; padding-right: 10px; font-weight: bold;}
.code .ident      { color:#000000;}
.code .punct      { color:#C5060B; font-weight:bold;}
.code .string     { color:#C5060B;}
.code .keyword    { color:#000000; font-weight:bold;}
.code .symbol     { color:#060; font-weight:bold;}
.code .number     { color:#0000CD;}
.code .attribute  { color:#318495; font-weight:bold;}
.code .constant   { color:#C5060B;}