<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>RSpactor</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RSpactor</string>
	<key>CFBundleIconFile</key>
	<string>APPL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIdentifier</key>
	<string>com.dynamicdudes.RSpactor</string>
	<key>SUFeedURL</key>
	<string>http://rspactorapp.com/assets/updates.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUCheckAtStartup</key>
  <true/>  
 	<key>NSHumanReadableCopyright</key>
	<string>
© 2008, Andreas Wolff
http://www.rubyphunk.com
	</string>
	<key>CFBundleVersion</key>
  <string>1.0.1</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0.1</string>  
</dict>
</plist>
