<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>RSpactor</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RSpactor</string>
	<key>CFBundleIconFile</key>
	<string>APPL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIdentifier</key>
	<string>com.dynamicdudes.RSpactor</string>
	<key>SUFeedURL</key>
	<string>http://appcast.dynamicdudes.com/rspactor_edge.xml</string>
	<key>SUCheckAtStartup</key>
  <true/>  
 	<key>NSHumanReadableCopyright</key>
	<string>
© 2008, Andreas Wolff
http://www.dynamicdudes.com
	</string>
	<key>CFBundleVersion</key>
  <string>0.9.11</string>
  <key>CFBundleShortVersionString</key>
  <string>0.9.11</string>  
  <key>SUExpectsDSASignature</key>
  <true />
  <key>SUPublicDSAKey</key>
  <string>
MIIDOzCCAi4GByqGSM44BAEwggIhAoIBAQDiq3WGM9l/ntbEqWMU/XdIylL7p/hi
JbeWCiiuZQ0++xjq7VBS7CVz9208suoNdMwELZrM6d/Nuc71+D7me0ADwVv5aR2b
sgnegv/U4r8npCUXvkjL6iK6Z8BRuIHWsIw6/4WOMql/e+SGCP6UwrvwOG+V9wGc
wRNaP4e2NzDbKO07lRH4VmaiU7W0+E9hl5pIGDuub0macd90YU4xvSJ8tCngmARS
79V+j+W0+SNu4l+q5brPIZ3M2DRYGcarkwNusg6B0WJ86XFq6uBSEin9RV0dJjXH
PvquyzsIUOJtoxbIm2X3xcG2fx8N/OYZ32/wVCI79PeKWW369100aNVPAhUAxppz
e9E3NfPMUQuJ8WuAyWSU7NsCggEBAN0Zz2yLLr+e2gbv93/DXzhC7e2hwEcf+RnK
nJkKFK44/FLWlEhhsSf1RbERS1yXGbGORBFZ/UbRkl97URkKQTu/nWReYhhddDDU
4tcHVwq74MaYXin1WIRkOsOiHus5L/V+bsheAE8rp2InSb1zCcFKjAbQUEK7oRNx
OXxcTsu66HJ4OCACsmcw/TNQY+jH5F7ZTLIlKDpAGUM8AC5VLeOZR/F5gg0nTAHT
THZQzdxE0awM/9WSLPrBwpkhHO3PyjsD9QaXTi8QA2X2OqKNsSvzZNN7hBJkgLtl
0B0d5KHqjmo5ko0/eEDNTHiL4kljLj3L/N9x6eZHrX4NcmhXhBkDggEFAAKCAQAW
GrUdqpkG+BGXpFunqHmsjNgg0g9hKU3rF/HP6Qu47cz1T0N09tBgs4nbgOuEJYJi
jhX+abRBXtNkcQnXwZBLHX7n+zIn13ZMc29UjCOGzb+QKuEZy9vq0sxqkzAkQk2M
XXG7fXUHJbTnWxoIksLB0G8/SMpoM12RyoMANu7O9kmH+E5gCiOOeCve+BrfIbik
HXZwzG85YqbKuzW97z2LooEXlnVc64G0/qp4JwXY924MI40fE8QqzV7w49TKJ2xI
JJrSs9X+L7EdBMa0eCyRp8NlaWaAUoIytbCe00C/OGY3X+89scVTAqypI3UL0Ljj
ngST6f+ObkSDV0JgIBwo
  </string>  
</dict>
</plist>
