html, body {
  margin: 0;
  padding: 0;
}
 
body {
  margin: 2px 5px 2px 5px;
  font: normal 12px Helvetica, Arial, sans-serif;
  color: #333;
}

.title {
  font-size: 16px;
  color: #888;
  font-style: italic;
}

ul.trace {
  margin: 10px 0px 0px 0px;
  padding: 2px;
}

.code { 
  border: 1px solid #AAA;
  cursor: pointer;
  font-family: "Andale Mono";
}

pre {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul.code_view {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.code_view li {
  padding: 2px 0 2px;
}

.even     { background-color: #FFF;}
.odd      { background-color: #EEF2FD;}
.current  { background-color: #EDFFBA;}

.code .linenumber { margin-left: 5px; padding-right: 10px; font-weight: bold;}

.code .ident      { color:#0000FF;}
.code .punct      { color:#C5060B;}
.code .string     { color:#036A07;}
.code .keyword    { color:#000000; font-weight:bold;}
.code .symbol     { color:#C5060B;}
.code .number     { color:#0000CD;}
.code .attribute  { color:#318495; font-weight:bold;}
.code .constant   { color:#C5060B;}